@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?j8kb1p');
    src:    url('fonts/icomoon.eot?j8kb1p#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?j8kb1p') format('truetype'),
        url('fonts/icomoon.woff?j8kb1p') format('woff'),
        url('fonts/icomoon.svg?j8kb1p#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
    content: "\e900";
}
.icon-arrow-right:before {
    content: "\e901";
}
.icon-caret-down-skinny:before {
    content: "\e902";
}
.icon-caret-down:before {
    content: "\e903";
}
.icon-caret-up-skinny:before {
    content: "\e904";
}
.icon-caret-up:before {
    content: "\e905";
}
.icon-earth:before {
    content: "\e906";
}
.icon-phone:before {
    content: "\e907";
}
.icon-pin:before {
    content: "\e908";
}
.icon-x-close:before {
    content: "\e909";
}
.icon-magnifying-glass:before {
    content: "\e90a";
}
