﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ChooseToReuseMetadata.ascx.cs" Inherits="Hennepin.SCWeb.ChooseToReuse.ChooseToReuseMetadata" %>
<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Kernel" %>

