﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ChooseToReuseMap.ascx.cs" Inherits="Hennepin.SCWeb.ChooseToReuse.ChooseToReuseMap" %>
<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Kernel" %>

<div class="cp_map-search-block">
	<section class="container">
		<!--
			This is the populated search results on the map page.
			Styles mostly from cp_index-hero-selection.scss.
			Some other styles and over-riding styles in cp_map-search-block.scss.
		-->
		<!-- Desktop ONLY -->
		<div class="location-form-container hidden-xs">
			
				<div class="search-text twenty-four">You searched</div>
				<div class="location-dropdown type">
					<select name="services">
						<option value="sellsUsed">Sell</option>
						<option value="donate">Donate</option>
						<option value="buysUsed">Buy</option>
						<option value="repairs">Repair</option>
						<option value="rent">Rent</option>
						<option value="share">Share</option>
					</select>
				</div>
				<div class="location-dropdown category">
					<select name="d-categories">
						<asp:Repeater ID="rptCategoryDropdownItems" runat="server" OnItemDataBound="rptCategoryDropdownItems_ItemDataBound">
                            <HeaderTemplate>
                            </HeaderTemplate>
                            <ItemTemplate>
                                <asp:Literal ID="litItem" runat="server" Text=""></asp:Literal>
                            </ItemTemplate>
                            <FooterTemplate>
                            </FooterTemplate>
                        </asp:Repeater>

					</select>
				</div>
				<div class="location-form">
					<span class="twenty-four hidden-xs">near</span>
					<input class="zip regular" type="text" placeholder="55418" name="d-zip" />
					<span class="period hidden-xs">.</span>
				</div>
				<!--<div class="distance">
				<select name="distance">
				<option value="5">5 Miles</option>
				<option value="10">10 Miles</option>
				<option value="20">20 Miles</option>
				<option value="50" selected="selected">50 Miles</option>
				</select>
				</div>-->
			
			<button class="search-btn btn twenty-six" id="search" value="Search">Search</button>
		</div>
		<!-- Mobile ONLY -->
		<div class="cp_index-hero-selection visible-xs">
			<div class="menu-bar-mobile">
				<div class="btn-group">
					<button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<div class="semibold" data-bind="label">Sell</div>
						<div class="toggle icon-caret-up"></div>
					</button>
					<ul class="services dropdown-menu close" role="menu">
						<li>
							<a href="#" data-value="sellsUsed" class="active">Sell</a>
						</li>
						<li>
							<a href="#" data-value="donate">Donate</a>
						</li>
						<li>
							<a href="#" data-value="buysUsed">Buy</a>
						</li>
						<li>
							<a href="#" data-value="repairs">Repair</a>
						</li>
						<li>
							<a href="#" data-value="rent">Rent</a>
						</li>
						<li>
							<a href="#" data-value="share">Share</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="location-form-container">
				<div class="location-dropdown category">
					<select name="m-categories">
						<asp:Repeater ID="rptCategoryDropdownItemsMobile" runat="server" OnItemDataBound="rptCategoryDropdownItemsMobile_ItemDataBound">
                            <HeaderTemplate>
                            </HeaderTemplate>
                            <ItemTemplate>
                                <asp:Literal ID="litItem" runat="server" Text=""></asp:Literal>
                            </ItemTemplate>
                            <FooterTemplate>
                            </FooterTemplate>
                        </asp:Repeater>
					</select>
				</div>
				<div class="location-form">
					<input class="zip regular" type="text" placeholder="55418" name="m-zip" />
				</div>
				<input class="search-btn btn twenty-six" type="submit" value="Search" />
			</div>
		</div>
	</section>
</div><!--end cp_map-search-block-->

<!--
	Count of the number of results generated by user search.
	Styles in cp_map-sidebar-results.scss.
-->
<div class="cp_results-count">
	<section class="container">
		<div class="results-count">
			<p><span>0</span> results</p>
		</div>
	</section>
</div>
<!--
	Overall wrapper for the map sidebar results and the map.
	Styles in cp_map-wrapper.scss.
-->
<div class="cp_map-wrapper">
	<section class="container">
		<div class="grid">
			<div class="col-2-3">
				<!--
					Main map.
					Styles in cp_map.scss.
				-->
				<div class="cp_map">
					<section>
						<div id="map"></div>
					</section>
				</div><!--end cp_map-->
			</div>
			<div class="col-1-3">
				<!--
					Side bar for the search results once the search has been completed
					and the map has been populated.
					Styles in cp_map-sidebar-results.scss.
				-->
				<div class="cp_map-sidebar-results">
					<section class="map-results"></section>
				</div>
                <!--end cp_map-sidebar-results-->
				
                <!--<div class="cp_map-sidebar-results">
				<p>DEBUG .list-results</p>
					<section class="list-results"></section>
				</div>  end cp_map-sidebar-results-->
			</div>
		</div><!--end grid-->
	</section>
</div><!--end cp_map-wrapper-->
<!--
	THIS IS THE STAND IN for the List results. It
	must keep the list-results container. That is
	what the results get added to.
-->
<div class="cp_map-unclassified-results">
	<section class="container">
		<div class="results-drawer collapse-toggle">
			<div class="twenty-six">Lorem ipsum other resourses</div>
			<span class="caret icon-caret-up"></span>
			<span class="caret icon-caret-down"></span>
		</div>
		<div class="drawer collapse">
			<div class="list-results"></div>
		</div>
	</section>
</div>
<!--
	Before you sell/buy etc containers.
	the article class need to mach the values of the services select.
-->
<div class="cp_tip-notes-block">
	<article class="sellsUsed">
		<section class="container">
			<div class="block">
				<div class="inner-block">
					<div class="grid">
						<div class="col-1-3">
							<h4 class="replaced buy">Before You Sell</h4>
						</div>
						<div class="col-2-3">
                            <sc:Text ID="fldBeforeYouSellText" runat="server" Field="Before You Sell Text" />
						</div>
					</div><!--end grid-->
				</div>
			</div>
		</section>
	</article>
	<article class="donate">
		<section class="container">
			<div class="block">
				<div class="inner-block">
					<div class="grid">
						<div class="col-1-3">
							<h4 class="replaced buy">Before You Donate</h4>
						</div>
						<div class="col-2-3">
                            <sc:Text ID="fldBeforeYouDonateText" runat="server" Field="Before You Donate Text" />
						</div>
					</div><!--end grid-->
				</div>
			</div>
		</section>
	</article>
	<article class="buysUsed">
		<section class="container">
			<div class="block">
				<div class="inner-block">
					<div class="grid">
						<div class="col-1-3">
							<h4 class="replaced buy">Before You Buy</h4>
						</div>
						<div class="col-2-3">
                            <sc:Text ID="fldBeforeYouBuyText" runat="server" Field="Before You Buy Text" />
						</div>
					</div><!--end grid-->
				</div>
			</div>
		</section>
	</article>
	<article class="repairs">
		<section class="container">
			<div class="block">
				<div class="inner-block">
					<div class="grid">
						<div class="col-1-3">
							<h4 class="replaced buy">Before You Repair</h4>
						</div>
						<div class="col-2-3">
                            <sc:Text ID="fldBeforeYouRepairText" runat="server" Field="Before You Repair Text" />
						</div>
					</div><!--end grid-->
				</div>
			</div>
		</section>
	</article>
	<article class="rent">
		<section class="container">
			<div class="block">
				<div class="inner-block">
					<div class="grid">
						<div class="col-1-3">
							<h4 class="replaced buy">Before You Rent</h4>
						</div>
						<div class="col-2-3">					
                            <sc:Text ID="fldBeforeYouRentText" runat="server" Field="Before You Rent Text" />
						</div>
					</div><!--end grid-->
				</div>
			</div>
		</section>
	</article>
	<article class="share">
		<section class="container">
			<div class="block">
				<div class="inner-block">
					<div class="grid">
						<div class="col-1-3">
							<h4 class="replaced buy">Before You Share</h4>
						</div>
						<div class="col-2-3">
                            <sc:Text ID="fldBeforeYouShareText" runat="server" Field="Before You Share Text" />
						</div>
					</div><!--end grid-->
				</div>
			</div>
		</section>
	</article>
</div><!--end cp_picture-text-block-->
<!--
	Container for the hero image and text for the featured
	business block. Styles in cp_text-button-block.scss.
-->
<div class="cp_text-button-block">
	<section class="container">
		<div class="text-block">
			<h4>Help us make Choose to Reuse an even better resource for you.</h4>
		</div>
		<div class="button-block">
			<a href="#listbusiness">
				<div class="btn">List your business</div>
			</a>
			<a href="#addideaevent">
				<div class="btn">Add an idea or event</div>
			</a>

		</div>
	</section>
</div><!--end cp_text-button-block-->