/* General settings */
div.selector, div.selector span {
	/*background-image: url("../images/sprite.png");
	background-repeat: no-repeat;*/
	-webkit-font-smoothing: antialiased; }
div.selector {
	display: -moz-inline-box;
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	/* Keeping this as :focus to remove browser styles */ }
div.selector:focus {
	outline: 0; }
div.selector {
	margin: 0;
	padding: 0;
}
select {
	padding: 20px;
}
.highContrastDetect {
	background: url("../images/bg-input.png") repeat-x 0 0;
	width: 0px;
	height: 0px;
}
/* Input & Textarea */
input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
	padding: 3px;
	background: url("../images/bg-input.png") repeat-x 0 0;
	outline: 0;
}
input.uniform-input.active,
select.uniform-multiselect.active,
textarea.uniform.active {
	background: url("../images/bg-input-focus.png") repeat-x 0 0;
}

/* Remove default webkit and possible mozilla .search styles.
 * Keeping this as :active to remove browser styles */
div.checker input,
input[type="search"],
input[type="search"]:active {
	-moz-appearance: none;
	-webkit-appearance: none;
}

/* Select */
div.selector {
	/*background-image: url("../_img/caret-up.png");
	background-repeat: no-repeat;
	background-position: calc(100% - 10px) 17px;*/
	font-size: 14px;
	line-height: 18px;
	padding: 10px;
	position: relative;
	overflow: hidden;
	/*local styles*/
	width: 100% !important;
	border: solid 1px #006db6;
	border-radius: 2px;
}
/*div.selector span {
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	background-position: right 0;
	height: 26px;
	line-height: 26px;
	padding-right: 25px;
	cursor: pointer;
	width: 100%;
}
div.selector.fixedWidth {
	width: 190px;
}
div.selector.fixedWidth span {
	width: 155px;
}*/
div.selector select {
	background: none;
	opacity: 0;
	-moz-opacity: 0;
	position: absolute;
	height: 40px;
	top: 0;
	left: 10px;
	width: 100%;
	z-index: 900;
}
.lt-ie9 div.selector select {
	padding: 0;
	opacity: 0;
	height: auto;
	top: 8px;
	left: 0px;
}

div.selector select:hover {
	cursor: pointer;
}
@-moz-document url-prefix() {
	div.selector select {
		top: -7px;
		left: 0;
	}
}
/*.lt-ie10 {
	 div.selector select {
		 top: 0;
		 left: 0;
	 }
}*/
div.selector.active {
	/*background-image: url("../_img/caret-down.png");
	background-repeat: no-repeat;
	background-position: calc(100% - 10px) 17px;
	background-position: 0 -156px;*/
}
div.selector.hover {
	/*background-position: calc(100% - 10px) 17px;
	background-position: 0 -182px;*/
}
div.selector.focus {
	/*background-image: url("../_img/caret-down.png");
	background-repeat: no-repeat;
	background-position: calc(100% - 10px) 17px;
	background-position: 0 -182px;*/
}
div.selector.hover.active, div.selector.focus.active {
	/*background-image: url("../_img/caret-down.png");
	background-repeat: no-repeat;
	background-position: calc(100% - 10px) 17px;*/
}
div.selector.disabled, div.selector.disabled.active {
	/*background-image: url("../_img/caret-up.png");
	background-repeat: no-repeat;
	background-position: calc(100% - 10px) 17px;*/
}
